In [1]:
%load_ext autoreload
%autoreload 2

In [4]:
import os
import numpy as np
import pandas as pd

In [24]:
data_dir = "/var/scratch/pbagad/datasets/Charades"

video_dir = os.path.join(data_dir, "Charades_v1_480")
annot_dir = os.path.join(data_dir, "annotations")

mode = "test"
df_path = os.path.join(annot_dir, "Charades_v1_{mode}.csv".format(mode=mode))
df = pd.read_csv(df_path)
df = df[~df.actions.isnull()]
df.shape

(1814, 11)

In [25]:
def load_txt(path):
    with open(path, "r") as f:
        lines = f.readlines()
    return [line.strip() for line in lines]

In [26]:
classes = load_txt(os.path.join(annot_dir, "Charades_v1_classes.txt"))
len(classes)

157

In [27]:
class_id_to_name = dict()
for string in classes:
    class_id, class_name = string.split(" ")[0], " ".join(string.split(" ")[1:])
    class_id_to_name[class_id] = class_name
len(class_id_to_name)

157

In [28]:
class_id_to_name["c000"]

'Holding some clothes'

In [29]:
df["classes"] = df.actions.apply(lambda x: [y.split(" ")[0] for y in x.split(";")])
df["classes"]

0                          [c077, c079, c080, c076, c075]
1       [c137, c092, c152, c154, c059, c118, c151, c10...
2                          [c059, c151, c148, c096, c155]
3                                [c015, c087, c016, c154]
4       [c067, c028, c059, c065, c068, c026, c153, c01...
                              ...
1858                                   [c149, c051, c152]
1859    [c143, c154, c055, c148, c097, c008, c141, c12...
1860                 [c112, c113, c008, c131, c141, c006]
1861                       [c080, c097, c036, c076, c126]
1862                       [c067, c069, c061, c097, c063]
Name: classes, Length: 1814, dtype: object

In [30]:
_df = df[['id', 'classes']]
_df.head()

      id                                            classes
0  YSKX3                     [c077, c079, c080, c076, c075]
1  T5ECU  [c137, c092, c152, c154, c059, c118, c151, c10...
2  AAH6R                     [c059, c151, c148, c096, c155]
3  015XE                           [c015, c087, c016, c154]
4  TJZ0P  [c067, c028, c059, c065, c068, c026, c153, c01...

In [31]:
save_path = os.path.join(annot_dir, "Charades_v1_{mode}_videomae.csv".format(mode=mode))
_df.to_csv(save_path, index=False)